<div class="container my-5">
  <div class="row" style="margin-top: 100px">
    <div class="container-fluid">
      <div class="row m-auto" *ngIf="history?.carts?.length">
        <h1 class="h1 text-center my-5 animate__animated animate__slideInDown">Lịch Sử Mua Hàng</h1>
        <div class="col-lg-12 table-responsive d-lg-grid">
          <table>
            <thead style="font-weight: 300">
            <tr>
              <th>STT</th>
              <th>Tên Khách Hàng</th>
              <th>Ngày Mua</th>
              <th>Số Điện Thoại</th>
              <th>Địa Chỉ</th>
              <th>Tổng Tiền</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of history.carts; index as i">
              <td class="align-middle">{{i + 1}}</td>
              <td class="align-middle">{{history.name}}</td>
              <td class="align-middle">{{item.createDate | date: 'dd/MM/yyyy'}}</td>
              <td class="align-middle">{{history.phone}}</td>
              <td class="align-middle">{{history.address}}</td>
              <td class="align-middle">{{getTotalPrice(item) | number}} ₫</td>
              <td>
                <button mat-raised-button color="primary" type="button" (click)="showDetail(item)"
                        data-bs-toggle="modal" data-bs-target="#listModal">Chi tiết
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="history?.carts?.length == 0">
        <div class="container">
          <div class="row">
            <div class="py-6 py-lg-12">
              <div class="container">
                <div class="row">
                  <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center">
                    <img
                      src="https://img.freepik.com/free-vector/no-data-concept-illustration_114360-626.jpg?w=1060&t=st=1666856706~exp=1666857306~hmac=32345599294ebb58792e8fff31cd19eb8f660df26c41ea08f18e748684768175"
                      alt="" class="img-fluid mb-4"/>
                    <div class="me-2 animate__animated animate__slideInDown"><b>Không Tìm Thấy Lịch Sử Mua Hàng !! </b>
                    </div>
                    <button class="mt-2" mat-raised-button routerLink="" color="warn">Tiếp Tục Mua Sắm</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade" id="listModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #3F51B5; height: 50px">
        <span class="modal-title text-light" id="myModalLabel" style="font-size: 18px">Thông Tin Chi Tiết</span>
        <button type="button" mat-icon-button class="text-white" data-bs-dismiss="modal">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead style="font-weight: 300">
          <tr>
            <th>STT</th>
            <th>Tiêu Đề</th>
            <th>Giá</th>
            <th>Số Lượng</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of cart.cartDetails; index as i">
            <td>{{i + 1}}</td>
            <td>{{item.book.name}}</td>
            <td>{{item.book.price| number}} ₫</td>
            <td>{{item.quantity}}</td>
          </tr>
          <tr>
            <td colspan="3" class="text-end">Tổng Tiền</td>
            <td colspan="2"
                style="color: #F44336; font-weight: bold">{{getTotalPrice(cart) | number}} ₫
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
