<div class="container" style="margin-top: 125px">
  <div class="row my-5">
    <div class="col-lg-8">
      <img
        src="https://img.freepik.com/free-vector/people-sitting-bookshelves-reading-books-bookstore-students-studying-library_74855-14138.jpg?w=1060&t=st=1664175377~exp=1664175977~hmac=599bcb4767869dd9185268de375a24444d213629af67b95826d65296598b3e91"
        alt="" width="100%">
    </div>
    <div class="col-lg-4">
      <div style="text-align: center">
        <img src="assets/image/240_F_211078107_d7jQeiFY2JfdTKUu6zC8Y5d28WhYaQP4.jpg" width="200" height="200" alt="">
      </div>
      <form [formGroup]="formGroup">
        <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>Tên Tài Khoản</mat-label>
            <input matInput type="text" placeholder="Nhập Tên Tài Khoản" formControlName="username" autocomplete="off">
            <button mat-icon-button matSuffix>
              <mat-icon>person</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="example-container">
          <mat-form-field appearance="outline">
            <mat-label>Mật Khẩu</mat-label>
            <input matInput placeholder="Nhập Mật Khẩu" [type]="hide ? 'password' : 'text'" formControlName="password"
                   autocomplete="off">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <section class="example-section d-flex justify-content-between align-items-center mb-4">
<!--          <div class="form-check form-switch">-->
<!--            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"-->
<!--                   formControlName="remember_me">-->
<!--            <label class="form-check-label" for="flexSwitchCheckDefault">Lưu Mật Khẩu</label>-->
<!--          </div>-->
            <mat-checkbox formControlName="remember_me" class="example-margin" color="primary">Lưu Mật Khẩu</mat-checkbox>
          <a class="example-margin" style="color: #3F51B5" routerLink="/security/reset-password">Quên Mật Khẩu</a>
        </section>
        <div class="mt-top d-grid">
          <button mat-raised-button color="primary" (click)="onSubmit()">Đăng Nhập</button>
        </div>
      </form>

      <div class="d-flex justify-content-evenly mt-5">
        <div class="">
<!--          <button>-->
<!--            <mat-icon>google</mat-icon>-->
            <a routerLink=""><img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="" width="40" height="40"></a>
<!--          </button>-->
        </div>
        <div class="">
<!--          <button mat-mini-fab>-->
<!--            <mat-icon>facebook</mat-icon>-->
          <a routerLink=""><img src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" alt="" width="40" height="40"></a>
<!--          </button>-->
        </div>
        <div class="">
<!--          <button mat-mini-fab>-->
<!--            <mat-icon>instagram</mat-icon>-->
          <a routerLink=""><img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="" width="40" height="40"></a>
<!--          </button>-->
        </div>
        <div class="">
<!--          <button mat-mini-fab>-->
<!--            <mat-icon>twitter</mat-icon>-->
          <a routerLink=""><img src="https://cdn-icons-png.flaticon.com/512/733/733558.png" alt="" width="40" height="40"></a>
<!--          </button>-->
        </div>
      </div>
    </div>
  </div>
</div>
