<div class="container my-5">
  <div class="row">
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img class="img-fluid" src="/assets/image/4126705.jpg" alt="" height="2000">
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left align-self-center">
                  <h1 class="h1 text-success"><b>International Literacy Day</b></h1>
                  <h3 class="h2">Ngày Quốc Tế Biết đọc biết viết</h3>
                  <p>
                    Ngày Quốc Tế Biết đọc biết viết diễn ra vào ngày 8 tháng 9 hàng năm nhằm nâng cao nhận thức và mối
                    quan tâm đến các vấn đề về mù chữ đang tồn tại trong cộng đồng địa phương của chúng ta cũng như trên
                    toàn cầu...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img class="img-fluid" src="/assets/image/5044478.jpg" alt="">
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left">
                  <h1 class="h1 text-success"><b>World Book Day</b></h1>
                  <h3 class="h2">Ngày Sách Thế Giới</h3>
                  <p>
                    Ngày Sách Thế giới được Tổ chức Giáo dục, Khoa học và Văn hóa của Liên hợp quốc (UNESCO) tổ chức
                    ngày 23 tháng 4 năm 1995. Tuy nhiên, mối liên hệ giữa niên đại đó và sách được thực hiện ở Tây Ban
                    Nha vào năm 1923, vì đây là ngày kỷ niệm ngày mất của William Shakespeare và Inca Garcilaso de la
                    Vega, Biên niên sử Tây Ban Nha nổi tiếng
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img class="img-fluid" src="/assets/image/5074163.jpg" alt="">
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left">
                  <h1 class="h1 text-success"><b>Happy Book Day</b></h1>
                  <h3 class="h2">Ngày Sách Thế Giới</h3>
                  <p>
                    Ngày Sách Thế giới được Tổ chức Giáo dục, Khoa học và Văn hóa của Liên hợp quốc (UNESCO) tổ chức
                    ngày 23 tháng 4 năm 1995. Tuy nhiên, mối liên hệ giữa niên đại đó và sách được thực hiện ở Tây Ban
                    Nha vào năm 1923, vì đây là ngày kỷ niệm ngày mất của William Shakespeare và Inca Garcilaso de la
                    Vega, Biên niên sử Tây Ban Nha nổi tiếng
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
         role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
      </a>
      <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
         role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
    <!-- End Banner Hero -->
    <h1 class="text-center my-5" style="font-size: 50px">Sách Mới - Tái Bản</h1>
    <!-- Start Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6" style="display: flex; justify-content: flex-end">
          <mat-form-field>
            <mat-label>Thể Loại</mat-label>
            <mat-select>
              <mat-option>Văn Học Việt Nam</mat-option>
              <mat-option>Văn Học Nước Ngoài</mat-option>
              <mat-option>Thiếu Nhi</mat-option>
              <mat-option>Thời Sự - Chính Trị</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0" style="border: none;">
            <div class="card rounded-0" style="border: none">
              <img class="card-img rounded-0 img-fluid" src="assets/img/thientaibentraikedienbenphai.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href=""><i class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body text-center">
              <a href="" class="mb-0 h3 text-decoration-none w-100"><b>Thiên Tài Bên Trái, Kẻ Điên Bên Phải</b></a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <p class="text-center text-danger mb-0"><b>$250.00</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0" style="border: none">
            <div class="card rounded-0" style="border: none">
              <img class="card-img rounded-0 img-fluid" src="assets/img/bach-da-hanh.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href=""><i class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body text-center">
              <a href="" class="h3 text-decoration-none"><b class="text-center">Bạch Dạ Hành</b></a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <p class="text-center text-danger mb-0"><b>$250.00</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0" style="border: none">
            <div class="card rounded-0" style="border: none">
              <img class="card-img rounded-0 img-fluid" src="assets/img/nguoi-thua-thu-14.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href=""><i class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body text-center">
              <a href="" class="h3 text-decoration-none"><b>Người Thừa Thứ 14</b></a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <p class="text-center text-danger mb-0"><b>$250.00</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0" style="border: none">
            <div class="card rounded-0" style="border: none">
              <img class="card-img rounded-0 img-fluid" src="assets/img/nguoi-chet-de-da.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href=""><i class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body text-center">
              <a href="" class="h3 text-decoration-none"><b>Người Chết Để Da</b></a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <p class="text-center text-danger mb-0"><b>$250.00</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0" style="border: none">
            <div class="card rounded-0" style="border: none">
              <img class="card-img rounded-0 img-fluid" src="assets/img/14-ngay-kinh-hoang.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href=""><i class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body text-center">
              <a href="" class="h3 text-decoration-none"><b>14 Ngày Kinh Hoàng</b></a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <p class="text-center text-danger mb-0"><b>$250.00</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0" style="border: none">
            <div class="card rounded-0" style="border: none">
              <img class="card-img rounded-0 img-fluid" src="assets/img/phia-sau-nghi-can-x.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href=""><i class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body text-center">
              <a href="" class="h3 text-decoration-none"><b>Phía Sau Nghi Can X</b></a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <p class="text-center text-danger mb-0"><b>$250.00</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0" style="border: none">
            <div class="card rounded-0" style="border: none">
              <img class="card-img rounded-0 img-fluid" src="assets/img/ce-sau-17-nam.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href=""><i class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body text-center">
              <a href="" class="h3 text-decoration-none"><b>Ve Sầu 17 Năm</b></a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <p class="text-center text-danger mb-0"><b>$250.00</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 product-wap rounded-0" style="border: none">
            <div class="card rounded-0" style="border: none">
              <img class="card-img rounded-0 img-fluid" src="assets/img/loi-canh-bao.jpg">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href=""><i class="far fa-heart"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="far fa-eye"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href=""><i class="fas fa-cart-plus"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body text-center">
              <a href="" class="h3 text-decoration-none"><b>Lời Cảnh Báo</b></a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <p class="text-center text-danger mb-0"><b>$250.00</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <ul class="pagination pagination-lg justify-content-end">
          <li class="page-item disabled">
            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
          </li>
          <li class="page-item">
            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Content -->
  </div>
</div>
