<div class="body">
  <div class="container py-5">
    <div class="row" style="margin-top: 100px">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="mb-3 text-center">
          <h1 class="h1">Đăng Ký Tài Khoản</h1>
        </div>
        <hr>
        <div class="mx-4">
          <div class="row mb-3">
            <div class="col-lg-6 d-grid">
              <mat-form-field appearance="outline">
                <mat-label>Họ Và Tên <span><i>(*)</i></span></mat-label>
                <input matInput type="text" placeholder="Nhập Họ Và Tên">
                <!--                <mat-error-->
                <!--                  *ngIf="bookForm.controls.code.hasError('required') && (bookForm.controls.code.touched)">-->
                <!--                  Vui Lòng Không Để Trống.-->
                <!--                </mat-error>-->
              </mat-form-field>

            </div>
            <div class="col-lg-6 d-grid">
              <mat-form-field appearance="outline">
                <mat-label>Email <span><i>(*)</i></span></mat-label>
                <input matInput type="email" placeholder="Nhập Email">
                <!--                <mat-error-->
                <!--                  *ngIf="bookForm.controls.name.hasError('required') && (bookForm.controls.name.touched || bookForm.controls.name.dirty)">-->
                <!--                  Vui Lòng Không Để Trống.-->
                <!--                </mat-error>-->
              </mat-form-field>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6 d-grid">
              <mat-form-field appearance="outline">
                <mat-label>Tên Tài Khoản <span><i>(*)</i></span></mat-label>
                <input matInput type="text" placeholder="Nhập Tên Tài Khoản">
                <!--                <mat-error-->
                <!--                  *ngIf="bookForm.controls.author.hasError('required') && (bookForm.controls.author.touched || bookForm.controls.author.dirty)">-->
                <!--                  Vui Lòng Không Để Trống.-->
                <!--                </mat-error>-->
              </mat-form-field>
            </div>
            <div class="col-lg-6 d-grid">
              <mat-form-field appearance="outline">
                <mat-label>Mật Khẩu <span><i>(*)</i></span></mat-label>
                <input matInput type="password" placeholder="Nhập Mật Khẩu">
                <!--        <mat-error></mat-error>-->
              </mat-form-field>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6 d-grid">
              <mat-form-field appearance="outline">
                <mat-label>Ngày Sinh <span><i>(*)</i></span></mat-label>
                <input matInput type="date" placeholder="Nhập Ngày Sinh">
                <!--                <mat-error-->
                <!--                  *ngIf="bookForm.controls.dimension.hasError('required') && (bookForm.controls.dimension.touched || bookForm.controls.dimension.dirty)">-->
                <!--                  Vui Lòng Không Để Trống.-->
                <!--                </mat-error>-->
              </mat-form-field>
            </div>
            <div class="col-lg-6 d-grid">
              <mat-label>Giới Tính <span><i>(*)</i></span></mat-label>
              <mat-radio-group class="d-flex justify-content-evenly">
                <mat-radio-button color="primary" value="1">Nam</mat-radio-button>
                <mat-radio-button color="warn" value="0">Nữ</mat-radio-button>
                <mat-radio-button color="accent" value="2">Khác</mat-radio-button>
              </mat-radio-group>
              <!--                <mat-error-->
              <!--                  *ngIf="bookForm.controls.price.hasError('required') && (bookForm.controls.price.touched || bookForm.controls.price.dirty)">-->
              <!--                  Vui Lòng Không Để Trống.-->
              <!--                </mat-error>-->
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6 d-grid">
              <mat-form-field appearance="outline">
                <mat-label>Số Điện Thoại <span><i>(*)</i></span></mat-label>
                <input matInput type="tel" placeholder="Nhập Số Điện Thoại">
                <!--                <mat-error-->
                <!--                  *ngIf="bookForm.controls.publisher.hasError('required') && (bookForm.controls.publisher.touched || bookForm.controls.publisher.dirty)">-->
                <!--                  Vui Lòng Không Để Trống.-->
                <!--                </mat-error>-->
              </mat-form-field>
            </div>
            <div class="col-lg-6 d-grid">
              <mat-form-field appearance="outline">
                <mat-label>Địa Chỉ <span><i>(*)</i></span></mat-label>
                <input matInput type="text" placeholder="Nhập Địa Chỉ">
                <!--                <mat-error-->
                <!--                  *ngIf="bookForm.controls.releaseDate.hasError('required') && (bookForm.controls.releaseDate.touched || bookForm.controls.releaseDate.dirty)">-->
                <!--                  Vui Lòng Không Để Trống.-->
                <!--                </mat-error>-->
              </mat-form-field>
            </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-around">
            <a class="d-grid text-decoration-none" routerLink="">
              <button mat-raised-button color="warn"> Quay Lại</button>
            </a>
            <button *ngIf="loader" type="submit" mat-raised-button color="primary"> Đăng Ký
            </button>
            <button *ngIf="!loader" mat-raised-button color="primary" disabled>
              <div class="spinner-border spinner-border-sm me-1"></div>
              Đang tải ...
            </button>
            <button type="reset" mat-raised-button color="accent"> Nhập Lại
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
