<div class="container" style="margin-top: 100px;">
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
    <mat-form-field class="example-full-width mt-5" appearance="outline">
      <mat-label><b>Nickname</b></mat-label>
      <input matInput placeholder="Nhập Tên Của Bạn" formControlName="nickname"
             [errorStateMatcher]="matcher">
      <mat-error
        *ngIf="!loginForm.get('nickname').valid && loginForm.get('nickname').touched">Vui Lòng Nhập Tên Của Bạn
      </mat-error>
    </mat-form-field>
    <div class="button-row mb-5">
      <button type="submit" [disabled]="!loginForm.valid" mat-fab color="primary">
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </form>
</div>
