<div class="container my-5">
  <div class="row" style="margin-top: 135px">
    <!-- Cart Start -->
    <div class="container-fluid">
      <div class="row px-xl-5" *ngIf="carts.length">
        <div class="col-lg-9 table-responsive mb-5">
          <table class="table">
            <thead class="thead-dark">
            <tr style="font-size: 17px">
              <th>STT</th>
              <th>Ảnh</th>
              <th>Tên sách</th>
              <th>Giá</th>
              <th>Số lượng</th>
              <th>Tổng tiền</th>
              <th>
                <button mat-raised-button color="warn" (click)="deleteAll()" matTooltip="Xoá Tất Cả"><i
                  class="fas fa-trash-alt"></i></button>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of carts; index as i">
              <td class="align-middle">{{i + 1}}</td>
              <td class="align-middle">
                <img [src]="item.image" alt="" style="width: 50px;">
              </td>
              <td style="max-width: 200px">{{item.name}}</td>
              <td class="align-middle">{{item.price | currency: ' ': ' ': '5.0'}} ₫</td>
              <td class="align-middle">
                <ul class="list-inline mt-3">
                  <li class="list-inline-item">
                    <button (click)="decrease(i, item.quantity)" mat-raised-button color="primary">-</button>
                  </li>
                  <li class="list-inline-item">
                    <input type="number" style="width: 50px" (change)="updateQuantity(i, $event)"
                           [value]="item.quantity">
                  </li>
                  <li class="list-inline-item">
                    <button (click)="increase(i, item.quantity)" mat-raised-button color="primary">+
                    </button>
                  </li>
                </ul>
              </td>
              <td class="align-middle">{{total(item) | currency: ' ': ' ': '5.0'}} ₫</td>
              <td class="align-middle">
                <button mat-raised-button color="warn" (click)="deleteCart(i)"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-lg-3">
          <div class="">
            <div class="example-container">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Mã Giảm Giá</mat-label>
                <input matInput type="text" placeholder="Mã Giảm Giá">
              </mat-form-field>
            </div>

            <div class="bg-light p-30 mb-5">
              <div class="border-bottom">
                <div class="d-flex justify-content-between">
                  <h3>Tổng Số Lượng</h3>
                  <h3><b class="text-muted me-2">{{totalQuantity}}</b></h3>
                </div>
                <!--                <div class="d-flex justify-content-between mb-3">-->
                <!--                  <h3>Tổng Tiền</h3>-->
                <!--                  <h3>{{totalPrice | currency: ' '}} ₫</h3>-->
                <!--                </div>-->
              </div>
              <div class="pt-2">
                <div class="d-flex justify-content-between mt-2">
                  <h3>Tổng Thanh Toán</h3>
                  <h3><b class="text-muted me-2">{{totalPrice | currency: ' ': ' ': '5.0'}} ₫</b></h3>
                </div>
              </div>
              <div class="d-flex justify-content-evenly">
                <a routerLink="">
                  <button mat-raised-button color="warn"> Tiếp Tục Mua Sắm</button>
                </a>
                <button mat-raised-button color="primary"> Thanh Toán</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-danger" style="margin-top: 35px" *ngIf="carts.length == 0">
        <b>Chưa Có Sản Phẩm Nào trong Giỏ Hàng ! </b><a routerLink="">Click Vào Đây Để Mua Hàng</a>
      </div>
      <!-- Cart End -->
    </div>
  </div>
</div>
