<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body" style="border-radius: inherit;">
          <div class="d-flex justify-content-end">
            <button color="warn" mat-icon-button routerLink="/login">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div>
            <h3 class="card-title text-center animate__animated animate__slideInDown">Đặt Lại Mật Khẩu</h3>
            <form class="form-signin d-grid" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="outline" class="d-grid">
                <mat-label class="fw-bold">Nhập Mật Khẩu Mới</mat-label>
                <input matInput id="inputPassword" type="password" placeholder="Nhập Mật Khẩu Mới"
                       formControlName="newPassword">
                <button mat-icon-button matSuffix disabled>
                  <mat-icon>password</mat-icon>
                </button>
                <mat-error class="text-danger fw-bold"></mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="d-grid">
                <mat-label class="fw-bold">Nhập Lại Mật Khẩu</mat-label>
                <input matInput id="inputPassword1" type="password" placeholder="Nhập Lại Mật Khẩu"
                       formControlName="repeatNewPassword">
                <button mat-icon-button matSuffix disabled>
                  <mat-icon>password</mat-icon>
                </button>
                <mat-error class="text-danger fw-bold"></mat-error>
              </mat-form-field>
              <mat-hint id="emailHelp" class="form-text text-muted ">
                Hãy nhập tên tài khoản và làm các bước tiếp theo để thay đổi mật khẩu mới
              </mat-hint>
              <div *ngIf="isSubmited then submited else notSubmited"></div>
              <ng-template #notSubmited>
                <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">
                  Đặt Lại Mật Khẩu
                </button>
              </ng-template>
              <ng-template #submited>
                <button mat-raised-button color="primary" disabled>
                  <div class="spinner-border spinner-border-sm me-1"></div>
                  Đang tải ...
                </button>
              </ng-template>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
