:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.btn-close {
  border: 1px solid;
  border-radius: 22px;
  padding: 10px;
}

.card-signin {
  border: 0;
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.5);
}

.card-signin .card-title {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 1rem;
}

@media screen and (min-width: 320px) {
  .map {
    width: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .map {
    width: 600px;
  }
}
