<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div class="d-flex justify-content-end">
            <button color="warn" mat-icon-button routerLink="/login">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h3 class="card-title text-center animate__animated animate__slideInDown">Đặt Lại Mật Khẩu</h3>
          <form class="form-signin d-grid" [formGroup]="formGroup">
            <mat-form-field appearance="outline" *ngFor="let validation of validationMessages.username">
              <mat-label class="fw-bold">Tên Tài Khoản</mat-label>
              <input matInput type="text" placeholder="Nhập Tên Tài Khoản" formControlName="username">
              <button mat-icon-button matSuffix disabled>
                <mat-icon>person</mat-icon>
              </button>
              <mat-error class="text-danger fw-bold"
                         *ngIf="formGroup.get('username').hasError(validation.type) && (formGroup.get('username').touched || formGroup.get('username').dirty)">{{validation.message}}</mat-error>
            </mat-form-field>
            <mat-hint id="emailHelp" class="form-text text-muted">
              Nhập Tên Tài Khoản Của Bạn Và Làm Các Bước Tiếp Theo Để Đặt Lại Mật Khẩu
            </mat-hint>
            <div *ngIf="isSubmitted then submited else notSubmited"></div>
            <ng-template #notSubmited>
              <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid"
                      (click)="onSubmit()">Xác Nhận
              </button>
            </ng-template>
            <ng-template #submited>
              <button mat-raised-button color="primary" disabled>
                <div class="spinner-border spinner-border-sm me-1"></div>
                Đang tải ...
              </button>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
