<div class="body">
  <div class="container" style="margin-top: 100px">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body" style="background: #2B2C2D; border-radius: inherit;">
            <div class="d-flex justify-content-end">
               <span style="background: #9F391A; width: 30px; border-radius: 15px;">
                  <button type="button" class="btn-close btn-close-white btn-sm" routerLink="/login"
                          style="width: 0.5rem; height: 0.5rem; opacity: 66%"></button>
               </span>
            </div>
            <h5 class="card-title text-center text-light">Cài lại mật khẩu</h5>
            <form class="form-signin" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="form-label-group input-group mb-3">
                <div class="input-group-text" style="background-color: #1E1E1E; border: none">
                  <div class="mt-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                         class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                            style="color: #3B3B3B"/>
                    </svg>
                  </div>
                </div>
                <input formControlName="username" type="text" class="form-control text-light"
                       placeholder="TÊN TÀI KHOẢN*"
                       style="background-color: #1E1E1E; border: none">
                <div class="form-label-group input-group">
                  <div class="error-place" *ngFor="let validation of validationMessages.username">
                    <small class="text-danger"
                           *ngIf="formGroup.get('username').hasError(validation.type) && (formGroup.get('username').touched || formGroup.get('username').dirty)">
                      {{validation.message}}</small>
                  </div>
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted">Hãy nhập tên tài khoản và làm các bước tiếp
                theo để thay đổi mật khẩu mới</small>
              <div *ngIf="isSubmitted then submited else notSubmited"></div>
              <ng-template #notSubmited>
                <button class="btn btn-lg btn-secondary text-uppercase" type="submit"
                        style="background: #F160D4;" [disabled]="formGroup.invalid">GỬI EMAIL XÁC NHẬN
                </button>
              </ng-template>
              <ng-template #submited>
                <button class="btn btn-lg btn-primary text-uppercase" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
              </ng-template>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
