<section class="container py-5" style="margin-top: 35px;">
  <div class="row text-center pt-5 pb-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1 animate__animated animate__slideInDown">Dịch Vụ Của Chúng Tôi</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
        <h2 class="h5 mt-4 text-center">Dịch Vụ Vận Chuyển</h2>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
        <h2 class="h5 mt-4 text-center">Giao Hàng & Trả Hàng</h2>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
        <h2 class="h5 mt-4 text-center">Khuyến Mãi</h2>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 services-icon-wap shadow">
        <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
        <h2 class="h5 mt-4 text-center">Dịch Vụ 24 Giờ</h2>
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container my-4">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1 animate__animated animate__slideInDown">Nhãn Hàng Của Chúng Tôi</h1>
      </div>
      <div class="col-lg-9 m-auto tempaltemo-carousel">
        <div class="row d-flex flex-row">
          <div class="col-1 align-self-center">
            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
              <i class="text-light fas fa-chevron-left"></i>
            </a>
          </div>

          <div class="col">
            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand"
                 data-bs-ride="carousel">
              <div class="carousel-inner product-links-wap" role="listbox">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017464.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017465.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017476.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017471.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017474.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017469.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017461.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017468.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="row">
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017477.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017466.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017481.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                    <div class="col-3 p-md-5">
                      <a href="#">
                        <img class="img-fluid brand-img" src="https://cdn-icons-png.flaticon.com/512/7017/7017483.png"
                             alt="Brand Logo">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-1 align-self-center">
            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
              <i class="text-light fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
