<div class="container">
  <div class="row mt-5">
    <div class="col-lg-8">
      <img
        src="https://img.freepik.com/free-vector/people-sitting-bookshelves-reading-books-bookstore-students-studying-library_74855-14138.jpg?w=1060&t=st=1664175377~exp=1664175977~hmac=599bcb4767869dd9185268de375a24444d213629af67b95826d65296598b3e91"
        alt="" width="100%">
    </div>
    <div class="col-lg-4">
      <div style="text-align: center">
        <img src="assets/image/240_F_211078107_d7jQeiFY2JfdTKUu6zC8Y5d28WhYaQP4.jpg" width="240" height="240">
      </div>
      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email">
          <!--        <mat-error></mat-error>-->
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
      </div>
      <div class="mt-top">
        <button mat-raised-button color="primary" mat-button>Đăng Nhập</button>
<!--        <button mat-raised-button color="primary" mat-button>Sign Up</button>-->
      </div>
    </div>
  </div>
</div>
