/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px white;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px white;
}

*::selection {
  color: white;
  background-color: red;
}

input::-webkit-input-placeholder {
  color: red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
